<html>
  <head></head>
  <body>
    <p>
      <%= check_guess(guess) %>
    </p>

    <p> 
      <%= "The SECRET NUMBER is #{SECRET_NUMBER}" if check_guess(guess) == 'You got it right!' %>
    </p>
    <form>
      <input type='text' name='guess' \>
      <input type='submit' value='Guess!' \>
    </form>

  </body>
</html>

