<html>
  <head>
    <style>
      body {
        background-color: <%= bg_color %>
      }
    </style>
  </head>
  <body>
    <p>
      <%= message %>
    </p>

    <p> 
      <%= "The SECRET NUMBER is #{SECRET_NUMBER}" if how_close == :correct %>
    </p>
    <form>
      <input type='text' name='guess' \>
      <input type='submit' value='Guess!' \>
    </form>

  </body>
</html>

